/* Common form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Reduced gap between form elements */
}

#auth-popup {
  background-color: #151d28;
  width: 90%;
  inset: 0px;
}

#auth-popup form {
  width: 100%;
  inset: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#auth-popup .input-field-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25px solid #ffffff34;
  border-radius: 5px;
}

#auth-popup .input-field-wrapper button {
  background-color: rgba(245, 222, 179, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10px;
  height: 10px;
}

.input-error {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  font-size: 15px;
  align-items: center;
  color:#ff2f0b;
}

.input-error .material-icons {
  font-size: 15px;
}

#auth-popup .input-field-wrapper .non-input {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 3px;
}

.red-star {
  color: #ff2f0b;
}

#auth-popup .input-field-wrapper .non-input .material-icons {
  font-size: 20px;
  color: #ffffff34;
}

#auth-popup input,
#auth-popup input:focus {
  margin: 0%;
  background-color: transparent;
  border: 0px;
  outline: none;
  /* optional: removes blue border on focus */
}

#auth-popup #login-signup-switcher {
  width: 100%;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #ffffff34;
  box-sizing: border-box;
}

#password-strength-monitor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 12px;
}

.password-strength-bars {
  display: flex;

  gap: 4px;
}

.password-strength-fill-unit {
  width: 40px;

  height: 7px;
  background-color: rgba(0, 40, 85, 0.534);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.password-strength-fill-unit.red {
  background-color: red;
}

.password-strength-fill-unit.orange {
  background-color: orange;
}

.password-strength-fill-unit.green {
  background-color: rgb(0, 255, 0);
}

#currency-input {
  background-color: rgba(0, 0, 0, 0.397);
  height: 35px;
  display: flex;
  justify-content: flex-start;
  /* aligns items to the left */
  align-items: center;
  /* vertically centers image & text */
  gap: 6px;
  /* adds spacing between image and text */
  padding-left: 10px;
  /* optional: space from the left edge */
  border-radius: 5px;
  /* optional: make it look smoother */
}

.nigerian-logo img {
  width: 20px;
  height: 20px;
  display: block;
  /* removes inline image spacing */
  border-radius: 100%;
}

#currency-disclaimer {
  color: #ffaa29;
  font-size: 12px;
}

#age-agreement span {
  font-size: 15px;
  color: #d4d4d462;

}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: lighter;
  font-size: 13px;
}